/* Import the rest of Bulma */
@import '../../node_modules/bulma';
@import '../../node_modules/bulma';
@import '../../node_modules/@creativebulma/bulma-tooltip';

a {
  outline: 0;
}

.has-limited-width {
  width: 670px;
  max-width: 100%;
}
.is-horizontal-centered {
  margin-left: auto;
  margin-right: auto;
}
.has-background-black-transparent {
  background-color: rgba(0,0,0,0.3);
}

.card {
  //transition: box-shadow 0.2s;
  display: block;
  &.is-flat {
    border: $card-footer-border-top;
    box-shadow: none;
    .card-header {
      box-shadow: none;
      border-bottom: $card-footer-border-top;
    }
    &.is-hoverable {
      cursor: pointer;
      &:hover {
        //border: 1px solid rgba($scheme-invert, 0);
        box-shadow: $card-shadow;
      }
    }
  }
}
a.card {
  color: $text;
}
.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.input {
  &.is-primary {
    &.is-outlined {
      border: 1px solid $primary;
      color: $primary;
      background: none;

    }
  }
  &.is-transparent {
    border: 1px solid rgba($primary, 0.5);
    color: $white;
    background: rgba($primary, 0.25);
    &::placeholder {
      color: white;
      opacity: 0.3;
    }
  }

}

.is-disabled {
  cursor: not-allowed !important;
  opacity: .65;
}

.hero-body {
  max-width: 100%;
}

.image {
  overflow: hidden;
  img {
    height: auto !important;
  }
}
.background-image {
  background-size: cover;
  background-position: top center;
}

.card-content {
  position: relative;
}

.button {
  &.is-wide {
    min-width: 200px;
  }
}

.has-radius {
  border-radius: 14px;
}
.has-radius-small {
  border-radius: 7px;
}

.has-shadow {
  box-shadow: $box-shadow;
}