/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://use.typekit.net/smr8yaj.css');

$family-sans-serif: 'Inter', sans-serif;
$family-secondary: eurostile-extended,sans-serif;

// Colors
$primary: #1CECF3;
$secondary: #DE3AC7;
$secondary-invert: findColorInvert($secondary) !default;
$accent: #DF007E;
$accent-invert: findColorInvert($accent) !default;
$yellow-light: #FFFDF7;
$secondary-light: #F9EBF9;

$primary-gradient: rgba(28,236,243, 0.70);
$secondary-gradient: rgba(222,58,199,0.70);
$gradient-bg: #200142;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

$text: $grey-light;
$body-background-color: #210042;

//$link: $primary;
$link-hover: $primary;
$link-focus: $primary;
$link-active: $primary;

$title-color: white;
$subtitle-color: $white-ter;
$title-family: $family-secondary;
$subtitle-family: $family-sans-serif;

$radius: 12px;
$radius-large: 18px;
//$input-radius: 8px;


